* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.page {
  display: flex;
  align-items: center;
}
.nav {
  background: #003d36;
  height: 80px;
}
.logo {
  padding-left: 30px;
  padding-top: 22px;
  padding-bottom: 23px;
}
.content {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
  grid-template-columns: 1fr 1 fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.gif {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  z-index: 1;
  /* padding-left: 16px; */
  opacity: 0.1;
  clip: rect(0, 100px, 0, 100px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

lottie-player {
  width: 492px;
  height: 492px;
}
.text {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  z-index: 3;
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: #003d36;
  margin-bottom: 26px;
  font-weight: 800;
}

p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #003d36;
  margin-bottom: 37px;
}

button {
  width: 124px;
  height: 43px;
  left: 126px;
  top: 503px;
  border: none;
  background: #003d36;
  border-radius: 10px;
  color: white;
}
.bottom_img {
  display: flex;
  align-items: flex-end;
}
.waves {
  position: fixed;
  bottom: 0px;
  width: auto;
  height: 150px;
  object-fit: fill;
  z-index: 2;
}

@media only screen and (min-width: 600px) {
  .page {
    margin-top: 50px;
  }
  lottie-player {
    scale: 1.3;
  }
  .text {
    width: 522px;
  }

  h1 {
    font-size: 52px;
    margin-bottom: 36px;
  }
  p {
    font-size: 16p;
  }
  button {
    font-size: 16px;
  }
  .logo {
    padding-left: 60px;
    padding-top: 22px;
    padding-bottom: 23px;
  }
}

@media only screen and (min-width: 992px) {
  .logo {
    padding-left: 180px;
    padding-top: 22px;
    padding-bottom: 23px;
  }
  .page {
    margin-top: 100px;
  }
  lottie-player {
    scale: 1.6;
  }
  .text {
    width: 522px;
  }

  h1 {
    font-size: 64px;
  }
  p {
    font-size: 18px;
    line-height: 27px;
  }
  button {
    font-size: 16px;
  }
}
